.scoreboard {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 24px;
}
.scoreboard span {
  font-weight: bold;
  font-size: 30px;
  color: #686848;
}
.container{
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 30px;
    justify-content: center;
    background-color: #fff;
    width: 300px;
    height: 300px;
}
.player-turn{
    color: white;
    padding-bottom: 15px;
    font-size: 25px;
}
.row{
    display: flex;
    flex-direction: row;
}
.box{
    font-size: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(65, 41, 76);
    display: flex;
    background-color: antiquewhite;
    width: 70px;
    height: 70px;
    padding: 15px;
    margin: 1.5px;
}
.container-reset{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    height: 50px;width: 50px;
}
.reset{
    font-size: 25px;
    width: 80px;
    height: 35px;
    background-color: white;
    margin-top: 40px;
    color: rgb(132, 36, 44);
    border-radius: 5px;
}
.over{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #73a634;
}